* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  min-width: 350px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  --sky-color:rgb(222, 241, 250);
  background-color: var(--sky-color);
  color: black;
  overscroll-behavior: contain;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  width: 85%;
  background: #CCC314;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 2px 1px 1px rgb(180, 200, 210);
  -moz-box-shadow:  2px 1px 1px rgb(180, 200, 210);
  box-shadow: 2px 1px 1px   rgb(180, 200, 210);

  margin: 55px auto 200px auto;
  border-radius: 2px;
  padding: 20px; 
  text-align: center;
}

header h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}

header h3, main h2 {
  font-family: 'Lato', sans-serif;
  line-height: 23px;
  margin: 0 0 10px 0;
}
header h3 {
  margin-top: 15px;
  font-size: 23px;
}

main h2 {
  font-size: 20px;
  color: black;
}

header, aside, main, .works {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

aside {
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 40px;
}

#cube, .pics, .d {
  display: none;
}

.pic {
  width: 50px;
  height: 50px;
}

.pic1 {
  grid-column: 3 / span 2;
}

.pic2 {
  grid-column: 6 / span 2;
}
.pic3 {
  grid-column: 9 / span 2;
}

main h2 {
  margin-bottom: 20px;
}

main, .works, .site {
  width: 100%;
}
.works h2 {
  margin-bottom: 25px;
}
.works p {
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: -4px;
}

/* clouds inspired by Mark Bowley https://codepen.io/Mark_Bowley/pen/xEbuI?editors=1100 */

.logo {
  font-family: 'Grand Hotel', cursive;
  font-size: 70px;
  color: black;
}

#clouds-wrap {
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
h1, h3{
  text-align: center;
}
/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.c1 {
	-webkit-animation: animateCloud 10s linear infinite;
	-moz-animation: animateCloud 10s linear infinite;
	animation: animateCloud 10s linear infinite;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.c2 {
	-webkit-animation: animateCloud 7s linear infinite;
	-moz-animation: animateCloud 7s linear infinite;
	animation: animateCloud 7s linear infinite;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.c3 {
	-webkit-animation: animateCloud 15s linear infinite;
	-moz-animation: animateCloud 15s linear infinite;
	animation: animateCloud 15s linear infinite;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
/* OBJECTS */


.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 4px 48px 108px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 4px 48px 108px rgba(0, 0, 0, 0.1);
	box-shadow:  4px 48px 108px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* media queries */

@media screen and (min-width: 700px) {
  #clouds-wrap {
    display: none;
  }

  header {
    display: grid;
    width: 100%;
    height: 150px;
    margin: 0 0 25px;
    box-shadow: none;
    z-index: 2;
  }

  header h1 {
    font-weight: 600;
  }

  #cube {
    display: inherit;
    text-align: center;
    height: 225px;
    width: 98%; 
    /* box-shadow:  4px 48px 108px rgba(0, 0, 0, 0.1); */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: rgb(255,246,246);
    z-index: 2;
  }

  body, header, main, .works {
    background: linear-gradient(90deg, var(--sky-color),rgb(252, 254,255));
  }

  main {
    height: 100%;
  }

  main h2 {
    margin: 95px 0 45px 0;
  }

  .d {
    display: block;
  }

 .works {
    margin-top: 60px;
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-areas: "name1 site1"
      "site2 name2"
      "name3 site3";
  }
  /* .works h4 {
    box-shadow: 1px 1px 1px  rgb(180, 200, 210);
  } */

  .site img {
    width: 95%;
    height: 95%;
    /* -webkit-box-shadow: 2px 0 0 rgb(200, 220, 230); */
    /* -moz-box-shadow:  2px 0 0 rgb(200, 220, 230); */
    box-shadow: 1px 0 0  rgb(180, 200, 210);
  }
  .site2 img {
    box-shadow: 9px 34px 39px rgb(170, 170, 170);
  }

  .site1 {
    grid-area: site1;
  }

  .site2 {
    z-index: 3;
    grid-area: site2;
  }

  .site3 {
    grid-area: site3;
  }

  .description1 {
    grid-area: name1;
    text-align: right;
  }

  .description2 {
    grid-area: name2; 
    text-align: left;
  }
  .description3 {
    grid-area: name3;
    text-align: right;
  } 
} 